body{
    font-size: 62.5%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border-radius: 64px;
    background-color: tomato;
    padding: 0 64px;
    h2{
        display: flex;
        font-size: 1.6em;
        font-weight: unset;
        // ロゴの設定
        img{

        }
    }
    nav{
        font-size: 1.4em;
        ul{
            display: flex;
            li{
                list-style-type: none;
            }
        }
    }
}