body {
  font-size: 62.5%;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
}

.input {
  margin-top: 86px;
}
.input h2 {
  font-size: 24px;
  text-align: left;
}

.form {
  border: solid #000 1px;
  border-radius: 8px;
  padding-top: 40px;
  font-size: 1.6em;
}
.form__thum {
  position: relative;
  width: 800px;
  height: 412px;
  background-color: #f2f2f2;
  margin: 0 auto;
}
.form__thum-item {
  width: 160px;
  height: 72px;
  text-align: center;
  position: absolute;
  color: #a1a1a1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.form__thum:hover {
  cursor: pointer;
}
.form__item {
  color: #858585;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 4vW;
}
.form__item label {
  padding: 12px 0;
}
.form__item input {
  border: solid #E2E2E2 1px;
  height: 56px;
  font-size: 20px;
  padding-left: 16px;
  width: 400px;
}
.form__item__item:nth-child(1) input {
  width: 933px;
}