//- footer

.footer
    ul 
        li
            a(href="#") ホーム
        li
            a(href="#") 募集
        li
            a(href="#") サービスについて
        li
            a(href="#") お問い合わせ
    p 
        small usaginosippo@
            