doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/ress.css")
        link(rel="stylesheet", href="css/header.css")

        title header 
    body 
        header 
            //- include _header
            h2 
                //- ここにロゴを入れる
                img(src="", alt="")
                p 〜簡単に対戦相手や大会を探せる〜
            nav 
                ul 
                    li 募集相手を探す
                    li 募集中の大会を探す
                    li 相手を募集する
                    li アカウント作成/ログイン