doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/ress.css")
        link(rel="stylesheet", href="css/login.css")

        title login
    body 
        include _header
        main 
            section.new
                form 
                    .new__item
                        label(for="title") ID
                        input(type="text" placeholder="ログインIDまたはパスワードを入力してください")
                    .new__item
                        label(for="title") パスワード
                        input(type="text" placeholder="パスワードを入力してください")
                    .new__help
                        a(href="#")
                            p パスワードを忘れた場合はこちら
                    button ログイン

            section.login 
                .login__ttl
                    .login__ttl-line 
                    h3 または
                a(href="#").login__btn 
                    p Googleでログイン
                a(href="#").login__btn 
                    p Yahooでログイン
                a(href="#").login__btn 
                    p Facebookでログイン

                


        