doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/ress.css")
        link(rel="stylesheet", href="css/new.css")

        title new
    body 
        include _header
        main 
            section.new
                form 
                    .new__item
                        label(for="title") プレイヤー名
                        input(type="text" placeholder="プレイヤー名を入力してください")
                        ul 
                            li 16文字以内で入力してください
                            li 住所、電話番号などの個人情報は入力しないでください
                            li 他のユーザーが不快になる可能性のあるプレイヤー名は入力しないでください
                    .new__item
                        label(for="title") ID
                        input(type="text" placeholder="IDを入力してください")
                        ul 
                            li 大文字、小文字、英文字を含めた８〜１６文字で入力してください
                            li 英文字以外の記号は入力できません
                    .new__item
                        label(for="title") パスワード
                        input(type="text" placeholder="パスワードを入力してください")
                    a(href="#") 
                        button ログイン

            section.login 
                .login__ttl
                    .login__ttl-line 
                    h3 または
                a(href="#").login__btn 
                    p Googleでログイン
                a(href="#").login__btn 
                    p Yahooでログイン
                a(href="#").login__btn 
                    p Facebookでログイン

                


        