doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/ress.css")
        link(rel="stylesheet", href="css/send.css")

        title send
    body 
        include _header
        main 
            section.send 
                h2 募集記事に登録しました。
                p 以下のボタンから募集一覧に戻ることができます。
                a(href="#") 
                    button 募集一覧に戻る
